[core]
	editor = vip
	ignorecase = false
	excludesfile = ~/.gitignore
	hooksPath = ~/.githooks
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[hub]
	protocol = ssh
