[user]
	name = Michal Radecki
	email = odrzutowiec@gmail.com
[core]
	editor = /usr/bin/vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
