[user]
	name = Michal Radecki
	email = odrzutowiec@gmail.com
[core]
	editor = vi
	ignorecase = false
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
